@media screen and ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__item
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      gap: 20px
    &-card
      &__text
        margin-bottom: 20px
@media ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 21px
      padding-bottom: 21px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
  .map
    width: 340px
  .packages
    &-wrapper
      grid-template: repeat(3, 500px) / repeat(2, 1fr)
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        height: 344px
      &__button
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding: 70px 0 30px 0
    &-wrapper
      grid-template-columns: minmax(min-content, 200px) minmax(min-content, 297px) minmax(min-content, 40px) minmax(min-content, 161px)
      grid-template-rows: minmax(min-content, 110px) minmax(min-content, 200px) minmax(min-content, 255px) minmax(min-content, 312px) minmax(min-content, 22px)
      grid-row-gap: 55px
    &__title
      &--social-tablet
        margin-left: -15px
      &--contact-indents
        padding-top: 5px
    &__ul
      margin-bottom: 0
    &__logo
      grid-row: 1/2
      padding: 0
      max-width: 96px
    &__social
      &-network
        grid-column: 2/3
        grid-row: 1/2
        padding-top: 15px
      &-links
        margin-top: 5px
        margin-right: 17px
    &__categories
      grid-column: 1/2
      grid-row: 2/3
    &__additional
      grid-column: 2/3
      grid-row: 2/3
    &__legal
      grid-column: 3/5
      grid-row: 2/3
    &__contact
      &-details
        grid-column: 1 / -1
        grid-row: 3/4
      &-form
        grid-column: 1/4
        grid-row: 4/5
    &__bottom
      grid-column: 1/5
      grid-row: 5/6
    &__additional-links
      margin: 0
      padding: 0
  .modal
    &__dialog
      padding: 4% 7%
@media ( max-width: 767px )
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 92%
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
          margin: 0
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 31px
      overflow-y: scroll
      &--visible
        display: block
    &-menu
      flex-direction: column
      padding-top: 0
      &__item
        margin-bottom: 17px
        &--mobile
          &_visible
            display: block
            &:first-child
              margin-bottom: 30px
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    &-name
      flex-basis: 100%
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
    &-wrapper
      justify-content: space-between
    &-slider
      height: 350px
  .stars
    flex-basis: auto
  .hotel-right
    flex-direction: column
    min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    &-wrapper
      grid-template-rows: 550px repeat(2, 500px)
    &-card
      &__option
        &:not(:last-child)
          margin-bottom: 0
      &__button
        flex-basis: 100%
      &__info
        &--main
          padding: 30px 21px 25px 32px
      &__price
        margin-bottom: 10px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &__title
      margin-bottom: 37px
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
  .reviews
    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding: 0 29px 36px 33px
        &::after, &::before
          display: none
      &__button
        top: 31px
        &--prev
          margin-left: -65px
          left: 40%
          transform: translate(-50%, 0)
        &--next
          margin-right: -65px
          right: 40%
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 40px
  .card
    width: 49%
  .modal
    &__dialog
      width: 85%
      padding: 5% 7%
    &__button
      flex-basis: 100%
      margin-bottom: 10px
@media ( max-width: 576px )
  .logo
    width: 99px
  .navbar
    &__search
      margin: auto
      margin-bottom: 19px
  .search
    &__input
      width: 245px
  .hotel
    &__slider
      margin-bottom: 20px
      height: 250px
  .packages
    &-wrapper
      grid-template: repeat(5, 500px) / 1fr
    &-card
      &--main
        grid-column: 1/-1
        flex-direction: column
      &__photo
        flex-basis: 40%
      &__info
        flex-basis: 60%
      &__text
        display: none
      &__main-header
        margin: 0
      &__price
        margin-bottom: 20px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      &__item
        min-height: 438px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 100%
      grid-template-rows: minmax(min-content, 108px) minmax(min-content, 80px) minmax(min-content, 100px) minmax(min-content, 170px) minmax(min-content, 212px) minmax(min-content, 356px) minmax(min-content, 405px) minmax(min-content, 40px)
      grid-row-gap: 30px
    &__logo
      grid-row: 1 / 2
      grid-column: 1
    &__title
      &--social-tablet
        flex-basis: 100%
        margin: 0
      &--contact-indents
        padding-top: 12px
      &--mb-3
        margin-bottom: 15px
    &__social
      &-network
        align-items: flex-start
        align-content: space-between
        flex-wrap: wrap
        padding-top: 11px
        grid-row: 2 /3
        grid-column: 1
      &-links
        flex-basis: 30%
    &__legal
      grid-row: 3 / 4
      grid-column: 1
    &__additional
      grid-row: 4 / 5
      grid-column: 1
    &__categories
      grid-row: 5 / 6
      grid-column: 1
    &__contact
      &-details
        grid-row: 6 / 7
        grid-column: 1
      &-form
        padding-top: 15px
        grid-row: 7 / 8
        grid-column: 1
    &__form
      flex-direction: column
      align-items: flex-start
    &__message
      &-group
        width: 100%
        flex-basis: auto
        margin-bottom: 10px
    &__info
      padding-bottom: 20px
      align-self: flex-start
    &__button
      order: 1
    &__input
      &-group
        width: 100%
    &__text
      margin-bottom: 20px
    &__icon-wrapper
      min-width: 25px
    &__bottom
      grid-row: 8 / 9
      grid-column: 1
      flex-direction: column
      align-items: flex-start
    &__additional-links
      align-items: start
      justify-content: space-between
    &__additional-item:not(:last-child)
      margin-right: 10px
  .modal
    &__dialog
      width: 100%
      padding: 5% 7%
@media ( max-width: 320px )
  .container
    max-width: 280px
  .hotel
    padding-top: 0px
    padding-bottom: 40px
    &-grid
      padding-top: 18px
    &__slider
      height: 179px
    &-right
      min-height: 403px
  .stars
    margin-right: 14px
  .booking
    padding-left: 21px
    padding-right: 21px
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .map
    height: 173px
  .reviews
    &__title
      padding-left: 10px
      padding-right: 10px
      margin-bottom: 42px
      font-weight: bold
      font-size: 18px
      line-height: 23px
